# VPN user credentials
# file MUST HAVE mask rw- --- ---
# or                  r-- --- ---

[vpn]
forticlient = /opt/forticlient-sslvpn/64bit/forticlientsslvpn_cli
;usually 443
vpnServer = host.example.com:<port>
vpnUser   = <your>.<user>
vpnPasswd = <password>

;[preVPNstart]
;systemCMD = [
;        "/bin/true"
;    ]

[postVPNstart]
systemCMD = [
        "sudo /usr/local/sbin/resolv-update"
    ]

;[preVPNstop]
;systemCMD = [
;        "/bin/true"
;    ]

[postVPNstop]
systemCMD = [
        "killall forticlientsslvpn_cli",
        "sudo /usr/local/sbin/resolv-update -N"
    ]

