# VPN user credentials
# file MUST HAVE mask rw- --- ---
# or                  r-- --- ---

[vpn]
openconnect = sudo /usr/sbin/openconnect --juniper
vpnServer = host.example.com
servercert = sha256:<fingerprint_of_server_certificate>
authgroup = <realm>

[auth]
adUser = <user>
adPasswd = <password>
tokenPrefix = <token PIN|prefix>

;[preVPNstart]
;systemCMD = [
;        "/bin/true"
;    ]

[postVPNstart]
systemCMD = [
        "sudo /usr/local/sbin/sshuttle-tunnel -c start -m shuttle-host.example.com -u user_at_sshuttle-host -g"
    ]

;[preVPNstop]
;systemCMD = [
;        "/bin/true"
;    ]

[postVPNstop]
systemCMD = [
        "sudo /usr/local/sbin/sshuttle-tunnel -c stop -m shuttle-host.example.com
    ]


